test/*.o
test/*.use
test/*.use
!test/*.myr
libstd/sys*.myr
!libstd/sys*+*.myr
libstd/*.s
!libstd/*+*.s
libstd/sys
libstd/std
libstd/dial.myr
libstd/dir.myr
libstd/env.myr
libstd/ifreq.myr
libstd/resolve.myr
libstd/wait.myr
rt/*.s
!rt/*-*.s
*/*.o
*/*.use
*/*.a
*/.deps
config.h
config.mk
parse/gram.c
parse/gram.h
6/6m
muse/muse
myrbuild/myrbuild
bench/*
!bench/Makefile
!bench/*.myr
*~
tags
